@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nav_container{
    border: 2px solid transparent;
    background-color:rgb(5, 102, 141,.5);
    margin: 20px;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    /* opacity: 50%; */
    

}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav li{
    float: right;    
    margin-right: 55px;
    /* border: 2px solid black; */
    border-radius: 5px;
    padding: 10px;
    transition: transform .5s;
    cursor: pointer;
}
#nav_items:hover{
    background-color: #274c77;
    color: white;
    transform: scale(1.1);
}
.nav-title{
    margin-left: 50px;
    font-size: 25px;
    letter-spacing:3px;
    font-weight: 800;
}
.body-content{
    margin: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .slider{
    width: 1900px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 1800px;
    height: 500px;
}
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 1800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: black;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 1800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: black;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: black;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: black;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: black;
  } 

  a{
      color: black;
      text-decoration: none;
  }
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

  }

.login_panel{
    border: 2px solid #f4f3ee;
    background-color: #f4f3ee ;
    width: 400px;
    height: 500px;
}
.login_panel #title{
    font-family: 'Fondamento', cursive;
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
.login_panel #welcome{
    text-align: center;
    font-size: 20px;
    opacity: 60%;
}
.images img{
    width: 400px;
    height: 500px;
    object-fit: none;
}
.login_panel form{
    margin: 30px;
    margin-top: 60px;
    margin-left: 60px;
}
.login_panel form input[type=text]{
    width:250px;
    height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #f4f3ee ;

}
.login_panel form input[type=password]{
    width:250px;
    height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 20px;
    background-color: #f4f3ee ;

}
.login_panel form input[type="text"]:focus{
  transform: scale(1.05);
}
.login_panel form input[type="password"]:focus{
  transform: scale(1.05);
}
.login_panel form label{
    font-size: 12px;
    opacity: 70%;
    padding-bottom: 10px;
}
.login_panel form #for{
    font-size: 12px;
    float: right;
    margin-top: 25px;
    transition: transform .2s;

}
.login_panel form #for:hover{
    color: #003566;
    transform: scale(1.1);

}
.login_panel form input[type=submit]{
    width: 150px;
    height: 30px;
    border-radius: 35px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
    transition: transform .2s;

}
.login_panel form input[type=submit]:hover{
    transform: scale(1.1);
}
.login_panel form .new{
    margin-left: 30px;
    margin-top: 40px;
}
.login_panel form .new a{
    text-decoration: underline;

}
.login_panel form .new a:hover{
    text-decoration: underline;

}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  visibility: hidden;
  transition: transform .5s;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.closebtn:hover {
  color: black;
}
.registration_panel{
  width: fit-content;
  padding: 50px;
  margin: auto;
  margin-top: 0px;
  background-image: linear-gradient(
    to bottom right, 
    #4affde 0%,#5b9dff 40%,#d06bff 60%,#ff34d2 100%
  );
  background-size: 200% 200%;
  animation: movingGradient 5s liner infinite alternate;
  border-radius: 20px;
  
}
@keyframes movingGradient {
  from{background-position: 0 0;}
  to {background-position: 100% 100%;}
  
}
.registration_panel form{
  padding: 50px;
}
.registration_panel form input{
  background:transparent;
  border-color: white;
  outline: none;
  border-radius: 10px;
}
.registration_panel form input:focus{
  transform: scale(1.1);
}

.registration_panel #reg_title{
  font-size: 25px;
}
.line1  {
  display: flex;
}
.registration_panel form input[type="text"]{
  width: 200px;
  /* height: 30px; */
  padding: 7px;
  font-size: 17px;
  outline: none;
}
.registration_panel form input[type="password"]{
  width: 200px;
  padding: 7px;
  font-size: 17px;
  outline: none;
}
.registration_panel form input[type="email"]{
  width: 200px;
  padding: 7px;
  font-size: 17px;
  outline: none;
}
.registration_panel form input[type="date"]{
  width: 200px;
  padding: 7px;
  font-size: 17px;
  outline: none;
}
.registration_panel form input[type="number"]{
  width: 200px;
  padding: 7px; 
  font-size: 17px;
  outline: none;
}
.registration_panel form input[type="radio"]{
  /* width: 200px; */
  margin: 10px; 
  transform: scale(1.5);  
}

.set1{
  margin:20px;
  margin-top: 0px;
}
.registration_panel form #btn_create{
  width: 150px;
  height: 40px;
  margin: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #0466c8;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform .2s;

}
.registration_panel form #btn_create:hover{
  transform: scale(1.1);

}.dashboard{
  display: flex;
}
.order_count{
  position: relative;
  width: 300px;
  height: 210px;
  background: linear-gradient(#52b6fe,#6154fe);
  font-size: 30px;
  border-radius: 30px;
  margin: auto;
  margin-top: 100px;

}
.order_count::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#52b6fe,#6154fe);
  transform: translateY(40px)scale(.9);
  z-index: -1;
  filter: blur(25px);
  opacity: .9;
}
.order_count #ord{
  text-align: center;
  padding-top:50px;
  color: #ffff;
}

.nav_container1{
  border: 2px solid transparent;
  background-color:rgb(5, 102, 141,.5);
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  /* opacity: 50%; */
  

}
.nav1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav1 li{
  /* float: left;     */
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
  /* border: 2px solid black; */
  border-radius: 5px;
  padding: 5px;
  transition: transform .5s;
  cursor: pointer;
}
#nav_items1:hover{
  background-color: #274c77;
  color: white;
  transform: scale(1.1);
}

.unitformbox{
  border: none;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  
}
.masterunits{
  display: flex;
  margin-bottom: 20px;
  padding: 50px;
  
}
.title{
  text-align: center;
  font-size: 30px;
}.formtitle{
  text-align: center;
  }
.unitdisplaybox{
  border: 0.5px solid black;
  border-top:transparent ;
  border-bottom:transparent ;
  border-left:transparent ;
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;    
  font-size: 20px;
}
.dbunits{
  text-align: left;
  letter-spacing: 0px;
  padding: 20px ;
  font-size: 20px;
  margin: 10px;
}
.dbunits p{
  margin: 15px;
}
.unitform{
  border: 2px solid transparent;
  margin-left: auto;
  margin-right: auto;

}
.unitform form input[type="text"]{
  outline: none;
  width: 200px;
  height: 30px;
  font-size: 25px;

}
.formtitle{
  font-size: 20px;
  margin-bottom: 50px;
}
.unitform input[type=submit]{
  font-weight: 600;
  color: white;
  margin-top: 20px;
  background-color: #2196f3;
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  float: right;
  border-radius: 10px;
}
.unitform input[type=submit]:hover{
  background-color: #253237;

}
.dbunits img{
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 50px;
  transition: transform .2s;


}
.dbunits img:hover{  
  transform: scale(1.5);
}
.unitform form{
  text-align: right;
}
.addproducts{
  border: 2px solid transparent;
  padding: 20px;
  margin: auto;
  /* margin-top: 200px; */
  width: fit-content;
}
.text_feild{
  width: 200px;
  height: 15px;
  margin: 5px;
  padding: 10px;
  font-size: 17px;
  outline: none;
}
.text_feild3{
  width: 150px;
  height: 15px;
  margin: 5px;
  padding: 10px;
  font-size: 17px;
  outline: none;
}
.text_feild1{
  width: 300px;
  height: 15px;
  margin: 5px;
  padding: 10px;
  font-size: 13px;
  outline: none;

}

::-webkit-file-upload-button {
background: #2a6f97;
color: white;
padding: 1em;
border: none;
border-radius: 10px;
cursor: pointer;
}
.addproducts input[type=submit]{
  background: #2a6f97;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;

}
.addproducts input[type=reset]{
  background: #2a6f97;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 11%;
  

}
.btn-setrates{
  background: #2a6f97;
  color: white;
  padding: 0.7em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.btn-setrates:hover{
  background-color: #253237;

} 
.select_product{
  /* border: 2px solid black; */
  width: fit-content;
  margin: auto;
}

.product_det{
  border: 2px solid transparent;
  padding: 1rem;
}
.product_name{
  font-size: 25px;
}
.proudct_group{
  font-size: 18px;
}
.rates_content{
  display: flex;
}
.rates_table{
  margin: auto;
  width: 100%;
}
.setrates{
  text-align: center;
  border: 2px solid black;
  width: 100%;
  padding-top: 80px;
  font-size: 20px;
}
.setrates form{
  border: 2px solid transparent;
  width: 38%;
  text-align: right;
  margin: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center;

}

tr:nth-child(even) {background-color: #f2f2f2;}
.rates_table img{
  width: 25px;
  height: 25px;
  -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
}
.rates_table img:hover{
  transform: scale(1.5);
}
.prd{
  border: 2px solid black;

}
  .products_display{
    border: 2px solid transparent ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    
  }
  .product_card{
    border: 2px solid #003459;
    background-color: #003459;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    color:white;

  }
  .product_card a img{
    height: 50px;
    width: 50px;
  }

  .product_card img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
  }
  .img{
    display: flex;  
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .product_name{
    font-size: 25px;
    text-transform:uppercase;
    margin-right: 50px;
    margin-left: 5px;
    margin-top:20px;
  }
  .product_group{
    margin-left: 5px;

  }.btns{
    margin: 10px;
  }
  .floatLeft1 {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    margin:30px 10px 10px  20px; 
    display: inline-block;
  }

  .container1::-webkit-scrollbar {
    width: 10px;
  }
  
  
  .container1::-webkit-scrollbar-thumb {
    border-radius: 40px;
    border: 3px solid #8070d4;  
    border-left: 0;
    border-right: 0;
    background-color: #8070d4;
  } 
  .size{
    font-size: 30px;
    margin: 10px;
  }
  .rate{
    text-align: center;
    margin-top: 20px;
    padding-left: 20px;

    border-left: 2px solid black;
    height: 200%;
    font-size: 35px;
  }
  #rs{
    font-size: 20px;
  }
  .frate{
    margin-left: 10px;
    text-decoration: line-through;
}
.inner1 button{
  width: 150px;
  height: 25px;
  text-align: center;
  border: none;
  border-radius: 7px;
  background-color: #e3f2fd;
  margin: 10px;
  cursor: pointer;
  transition: transform .5s;



}
.inner1 button:hover{
  transform: scale(1.1);

}
.product_display{
  margin: 150px;

  display: flex;
}
.imgs{
  position: relative;
  width: 600px;
}
.product_dets{
  border: 2px solid transparent;
  margin-left: 100px;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  
}
.product_display img{
  width: 600px;
  height: 400px;
  border-radius: 10px;
}
.product_name1{
  position: absolute;
  color: white;
  border: 2px solid transparent;
  padding: 8px;
  background-color:  rgba(0, 0, 0, 0.459);
  bottom: 8px;
  left: 16px;
  margin-bottom: 10px;
  border-radius: 7px;
  letter-spacing: 3px;
  transition: 0.3s;

}
.imgs:hover .product_name1{
  opacity: 0%;
}
.product_name_down{
  text-transform: uppercase;
  font-size: 2.8em;
  font-weight: 200;
  letter-spacing: 1px;


}
.product_group_down{
  font-weight: 200;
  /* text-transform: uppercase;  */
  font-size: 1.5em;
}
.rates{
  height: 55px;
  font-size: 20px;
  width: 55px;
  color: black;
  font-weight: 800;
  background-color: #95d5b2;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: none;
  transition: 0.3s;
  margin-top: 10px;
}
.rates:hover{
  background-color: black;
  color: white;
}
.rates:active{
  background-color: black;
  color: white;
}
.rate_disp{
  font-size: 35px;
}
#rss{
  font-size: 20px;
  font-weight: 700;
}


.formsss {
  margin-top: 20px;
  width: 400px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;  
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input#number1 {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

.rates1{
  margin-left: 20px;
  height: 40px;
  padding-top:10px ;
  font-size: 25px;
  width: fit-content;
  color: #F8F8F8;
  font-weight: 500;
  background-color: #e85d04;
  border-radius: 50%;
  display: inline-block;   
  text-align: center;
  border: none;
  transition: 0.3s;
  
  /* margin-top: 10px; */
}
#forms_butos{
  width: 50%;
}
.product_book{
  border: 2px solid transparent;
  margin-right:200px ;
  width: 600px;
  text-align: center;
  padding: 20px;
}
.btn_book{
  border: none;
  background-color: #FF9900;
  width: 150px;
  height: 40px;
  margin: 10px;
  transition: 0.5s;
  border-radius: 8px;
  font-weight: 700;
}
.btn_book:hover{
  background-color: #48bfe3;
}
.btn_book::after{
  background-color: #48bfe3;

}

.place_order{
  width: 200px;
  height: 50px;
  font-size: 20px;
  float: right;
  margin-right: 50px;
  color: white;
  background-color: #293241;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .5s;
  
}
.place_order:hover{
  transform: scale(1.1);
  background-color: #FF9900;

}

.userinfo{
  border: 2px solid transparent;
  width: fit-content;
  font-size: 25px;
  padding: 10px;
  margin: auto;
}
.userinfo .tit{
  margin: 20px;
  font-size: 30px;
}
.userinfo .name{
  text-transform: uppercase;
}
.address{
  border: 2px solid black;
  width: fit-content;
  text-align: center;
  /* margin: auto; */
  margin: 40px;
  padding: 10px;
}
.address form{
  text-align: right;
  font-size: 20px;

}
.address form input[type="text"]{
  width: 270px;
  outline: none;
  height: 30px;
  margin: 10px;
}
.address form input[type="number"]{
  width: 270px;
  outline: none;
  height: 30px;
  margin: 10px;

}
.address form input[type="submit"]{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #FF9900;
  cursor: pointer;
  transition: transform .5s;
  
}
.address form input[type="submit"]:hover{
  transform: scale(1.1);

}

